
<footer id="footer" class="footer">
    <div class="copyright">
        &copy; 2022 Copyright <strong><span>GroPan!</span></strong> All Rights Reserved
    </div>
    <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
    </div>
</footer>