<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>@ViewData["Title"] - GroPan!</title>
    <meta content="" name="description">
    <meta content="" name="Group Management, Team Management, Project Panel, Group to Panel, Assignment">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="nice-admin-assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="nice-admin-assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="nice-admin-assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="nice-admin-assets/vendor/quill/quill.snow.css" rel="stylesheet">
    <link href="nice-admin-assets/vendor/quill/quill.bubble.css" rel="stylesheet">
    <link href="nice-admin-assets/vendor/remixicon/remixicon.css" rel="stylesheet">
    <link href="nice-admin-assets/vendor/simple-datatables/style.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="nice-admin-assets/css/style.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: NiceAdmin! - v2.4.0
    * Template URL: https://bootstrapmade.com/nice-admin-bootstrap-admin-html-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>
    <!-- ======= Header ======= -->
    @await Html.PartialAsync("_LayoutHeader")
    <!-- End Header -->
    <!-- ======= Sidebar ======= -->
    @await Html.PartialAsync("_LayoutSidebar")
    <!-- End Sidebar-->
    <!-- Main begins-->
    <main id="main" class="main">
        @RenderBody()
    </main>
    <!-- End #main -->
    <!-- ======= Footer ======= -->
    @await Html.PartialAsync("_LayoutFooter")
    <!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="nice-admin-assets/vendor/apexcharts/apexcharts.min.js"></script>
    <script src="nice-admin-assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="nice-admin-assets/vendor/chart.js/chart.min.js"></script>
    <script src="nice-admin-assets/vendor/echarts/echarts.min.js"></script>
    <script src="nice-admin-assets/vendor/quill/quill.min.js"></script>
    <script src="nice-admin-assets/vendor/simple-datatables/simple-datatables.js"></script>
    <script src="nice-admin-assets/vendor/tinymce/tinymce.min.js"></script>
    <script src="nice-admin-assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="nice-admin-assets/js/main.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
