@page
@model GroupPanelAssignment.Pages.UserManagement.BulkUploadModel
@{
    int resultCount = 1;
    bool displayTable = Model.UploadResults != null;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="col-md-6">
                    <h5 class="card-title"> New File Upload </h5>
                </div>
                <div class="col-md-6">

                </div>
            </div>
            <div class="card-body">
                <div class="row pt-4">
                    <form method="post" id="bulk-upload-form" enctype="multipart/form-data">
                        <div class="row pb-3">
                            <div class="col-10">
                                <label asp-for="Input" class="form-label">User list file</label>
                                <input type="file" class="form-control" asp-for="Input">
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary"><i class="bi bi-save"></i> Save</button>
                        </div>

                    </form>
                </div>

                @if (displayTable)
                {
                    <div class="row">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Message</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.UploadResults)
                                {
                                    <tr>
                                        <th scope="row">@resultCount</th>
                                        <td>
                                            @if (item.ConversionSucceeded)
                                            {
                                                if (item.DbSaveSucceeded)
                                                {
                                                    <span class="text-success">Saved!</span>
                                                }
                                                else
                                                {
                                                    <span class="text-danger">Couldn't be saved!</span>
                                                }

                                            }
                                            else
                                            {
                                                <span class="text-danger">Couldn't be saved!</span>
                                            }
                                        </td>
                                        <td>@item.Message</td>
                                    </tr>
                                    resultCount++;
                                }
                            </tbody>
                        </table>
                    </div>
                }

            </div>
        </div>
    </div>
</div>

